<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <header class="header-container">
        <div>爱选修 | 结课不发愁</div>    
        <span @click="courseClick" v-bind:class="isCourseActive?'active':'no-active'">选课</span>
        <span class="my" @click="myClick" v-bind:class="isMyActive?'active':'no-active'">我</span>
        <img src="../../image/search.png" alt="">

        <!-- 选择课程类型 -->
        <div class="choose-course-container">
        <ul class="choose-course">
            <li @click="chooseCourse(0)">
                <span >类别</span>
                <transition name="rotate">
                    <span class="rotate-triangle" ></span>
                </transition>
            </li>
            <li @click="chooseCourse(1)">
                <span >时间</span>
                <transition name="rotate">
                    <span class="rotate-triangle" ></span>
                </transition>
            </li>
            <li @click="chooseCourse(2)">
                <span >地点</span>
                <transition name="rotate">
                    <span class="rotate-triangle" ></span>
                </transition>
            </li>
            <li @click="chooseCourse(3)">
                <span>点名方式</span>
                <transition name="rotate">
                    <span class="rotate-triangle" ></span>
                </transition>
            </li>
            <li @click="chooseCourse(4)">
                <span>考核方式</span>
                <transition name="rotate">
                    <span class="rotate-triangle" ></span>
                </transition>
            </li>
        </ul>
    </div>
        <div class="choices" v-bind:style="{display:choicesDisplay}" v-for="choice in choices" >
            <span class="choice" @click="choose(index)">{{choice}}</span>
        </div>
         <!-- 选择课程类型end-->
    </header>
    <main id="main">
         <!-- 课程信息展示 -->
         <div class="courses" v-for="course in courses" >
             <div class="course-item">
                 <div class="course-left">
                     <span class="course-name">{{course.name}}</span>
                     <span class="course-teacher">{{course.teacher}}</span>
                     <span class="course-type">{{course.type}}</span>
                 </div>
                 <div class="course-right" >
                     <span v-for="tag in course.tags" class="course-tag">{{tag}}</span>
                 </div>
             </div>
         </div>
         <!-- 课程信息展示end -->
    </main>
    <script src="../../vue.js"></script>
    <script src="./index.js"></script>
</body>
</html>