body {
  padding: 0;
  margin: 0;
}

.header-container {
  position: relative;
  overflow: hidden;
}

.header-container div:nth-child(1) {
  font-size: 4vw;
  color: #000;
  margin-bottom: 2vw;
}

.header-container .active {
  font-size: 5vw;
  letter-spacing: 0vw;
  color: #00cca8;
  margin-left: 21vw;
  display: inline-block;
  padding-bottom: 2vw;
  position: relative;
}

.header-container .active:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 5vw;
  height: 1px;
  background-color: #00cca8;
}

.header-container .no-active {
  font-size: 5vw;
  letter-spacing: 0vw;
  margin-left: 21vw;
  color: #b2b2b2;
  display: inline-block;
}

.header-container .my {
  margin-left: 30vw;
}

.header-container img {
  width: 6vw;
  height: 6vw;
  display: inline-block;
  position: absolute;
  right: 2vw;
  top: 7vw;
}

.header-container ul > li {
  list-style: none;
  display: inline-block;
}

.choose-course-container {
  overflow: scroll;
  width: 100vw;
  position: relative;
}

.choose-course {
  margin: 4vw;
  overflow: scroll;
  display: flex;
  justify-content: space-around;
  width: 118vw;
  height: 5vw;
  padding: 0;
}

.choose-course li {
  margin: 0 4vw;
}

.choose-course .rotate-triangle {
  width: 1vw;
  height: 4vw;
  display: none;
  overflow: visible;
  background-color: white;
  display: inline-block;
  position: relative;
}

.choose-course .rotate-triangle::after {
  position: absolute;
  content: ">";
  transform: rotate(90deg);
  left: 0;
  top: 0;
  font-weight: 1;
  color: inherit;
}

#main {
  background-color: #fcfcfc;
  width: 100%;
  padding: 1vw 0;
}

.course-item {
  width: 91vw;
  height: 29vw;
  margin: 4vw auto;
  background-color: #ffffff;
  box-shadow: 0vw 0vw 2vw 0vw rgba(0, 0, 0, 0.13);
  border-radius: 1vw;
  overflow: hidden;
}

.course-left {
  width: 40%;
  border-right: 1px solid #999999;
  margin-top: 2vw;
  margin-left: 2vw;
  display: inline-block;
}

.course-left .course-name {
  font-size: 4vw;
  width: 32vw;
  color: #353535;
  display: inline-block;
  font-weight: normal;
  height: 20vw;
}

.course-left .course-teacher {
  font-size: 4vw;
  display: inline-block;
  color: #888888;
}

.course-left .course-type {
  font-size: 3vw;
  color: #cccccc;
  display: inline-block;
  margin-left: 6vw;
}

.course-right {
  width: 50%;
  padding: 3vw 3vw 3vw 0vw;
  float: right;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.course-right .course-tag {
  width: auto;
  margin: 2vw 2vw 4vw 2vw;
  padding: 0vw 2vw;
  height: 6vw;
  color: #fff;
  font-size: 3vw;
  text-align: center;
  line-height: 6vw;
  box-sizing: border-box;
  background-color: #00cca8;
  border-radius: 1vw;
  display: inline-block;
}

.choose-course .is-click{
  color: #00cca8;
}

.choose-course .is-click .rotate-triangle::after {
  position: absolute;
  content: ">";
  transform: rotate(270deg);
  left: 0;
  top: 0;
  font-weight: 1;
  color: inherit;
}

.choices{
  background-color: #eeeeee;
  opacity: 0.9;
  position: fixed;
  width: 100%;
  left: 0;
}

.choices .choice{
  display: inline-block;
  background-color: #ffffff;
  border-radius: 0.2vw;
  height: 8vw;
  line-height: 8vw;
  padding: 0 2vw;
  color: #b2b2b2;
  margin: 2vw 3vw;
}

.choices .choose-color{
  color: #00cca8
}

