body{
  margin: 0;
  padding: 0;
}

.comment-item {
  width: 100%;
  overflow: hidden;
  border-bottom: 2px solid #e6e6e6;
}

.comment-avatar {
  width: 11vw;
  height: 11vw;
  border-radius: 50%;
  float: left;
  margin: 4vw;
}

.comment-username {
  display: inline-block;
  width: 80%;
  margin-top: 4vw;
  font-size: 4vw;
}

.comment-time {
  display: inline-block;
  width: 80%;
  font-size: 2vw;
  color: #888888;
}

.comment-content {
  margin-left: 18vw;
}

.comment-bottom {
  float: right;
  right: 0;
  display: flex;
  justify-content: center;
  color: #888888;
  margin-right: 4vw;
}

.comment-bottom img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5vw;
}

.comment-bottom .comment-share-img,
.comment-reply-img {
  width: 6vw;
  height: 6vw;
}

.reply-item {
  border-bottom: 1px solid #e6e6e6;
}
.reply {
  margin-left: 20vw;
}

.reply .reply2reply-name,
.reply2reply-replyto {
  color: #00adcc;
}

#comment-input{
  position: fixed;
  height: 10vw;
  width: 100vw;
  background-color: #fff;
  outline: none;
  bottom: 0;
  border:none;
  border-top:1px solid #b2b2b2
}

.comment-input-container{
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.submit-comment{
  color: #00adcc;
  position: fixed;
  right: 3vw;
  bottom: 0;
  right: 2vw;
  height: 10vw;
  line-height: 10vw;
}